@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

// Colors
$black: #000000;
$white: #ffffff;
$c-blue-light: #a1ded4;
$c-green: #2b8979;
$c-blue: #247ba0;
$c-blue-dark: #054f6f;
$c-red-dark: #b01e1a;
$c-red-light: #f25f5c;
$c-grey: #50514f;
// Sizes
$fz-min: 12px;
$fz-xmin: 14px;
$fz-main: 16px;
$fz-xmain: 20px;

// Font
$font: (
  main: (
    "Noto Sans",
    sans-serif
  ),
  weight: 400,
  size: $fz-main,
  line-height: 1.4
);
// Bpoints
$breakpoints: (
  xs: 767px,
  sm: 991px
);
